
* {
  box-sizing: border-box;
}
html {
line-height: 1.3;
-webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  margin: 0;
  margin: 0 auto;
  min-height: 100vh;
}


h1,h2,h3,h4,h5 {
  margin: 0 0 0 0;
}

hr {
  height: 0;
  overflow: visible;
  box-sizing: content-box;
}
p {
  margin:0;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.3;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  margin: 0 20px 20px;
  padding: 0.35em 0.75em 0.625em;
}

fieldset > div,
fieldset > a,
fieldset > svg,
fieldset > p {
  margin: 0 0 15px 0;
}

legend {
  display: table;
  padding: 0;
  max-width: 100%;
  color: inherit;
  box-sizing: border-box;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  /* 1 */
  padding: 0;
  box-sizing: border-box;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

#__next {
  display: flex;
  flex-direction: column;
  width: 100%;
}
